<div class="about-wrapper">
  <header class="about-header">
    <h2>Questionnaire</h2>
    <p class="description">
      A small questionnaire Web Application similar to what
      <a class="link" href="https://www.typeform.com/#home-examples" title="Typeform" target="_blank" rel="noreferrer noopener">Typeform.com</a> offers.
    </p>
  </header>

  <section>
    <h3>Concepts Used</h3>
    <ul class="about-list">
      <li>Fully written in Ember Octane with all latest syntax and concepts.</li>
      <li>Used pure data down actions up and tried not to mutate any value passed.</li>
      <li>Applied proper a11y attributes.</li>
      <li>Used glimmer components and modifiers.</li>
      <li>Used mirage to simulate the API responses.</li>
      <li>Used some nice and swift UI animations to provide better UX.</li>
      <li>Written appropriate Unit, Integration and Acceptence tests.</li>
      <li>Thoughtfully designed user navigations during the traversing of questions.</li>
    </ul>

    <p>Icons designed by
      <a class="link" href="https://www.flaticon.com/authors/good-ware" title="Good Ware" target="_blank" rel="noreferrer noopener">Good Ware</a>,
      <a class="link" href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank" rel="noreferrer noopener">Freepik</a> and
      <a class="link" href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank" rel="noreferrer noopener">Pixel perfect</a> which are
      downloaded from <a class="link" href="https://www.flaticon.com/" title="Flaticon" target="_blank" rel="noreferrer noopener">www.flaticon.com</a></p>
  </section>
</div>